{% extends "GloryUserBundle:Admin:layout.html.twig" %}

{% block content %}
    <div class="box" id="user-list">
        <div class="box-header">
            <h3 class="box-title">用户列表</h3>
            <div class="box-tools">
                {{knp_pagination_filter(pagination,{'user.username':'Username','user.email':'Email'})}}
            </div>
        </div>
        <div class="box-body">
            <table class="table">
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Id', 'user.id') }}</th>
                    <th{% if pagination.isSorted('user.Username') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Username', 'user.username') }}</th>
                    <th>Email</th>
                    <th{% if pagination.isSorted('user.createdTime') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Create', 'user.createdTime') }}</th>
                    <th{% if pagination.isSorted('user.loginTime') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'login', 'user.loginTime') }}</th>
                    <th>Group</th>
                    <th>Status</th>
                    <th>Operate</th>
                </tr>
                {% for user in pagination %}
                    {#{% for user in users %}#}
                    <tr>
                        <td>{{user.id}}</td>
                        <td><a href="{{path('glory_user_manage_show', {'id': user.id})}}" target="_blank">{{user.username}}</a></td>
                        <td>{{user.email}}</td>
                        <td>
                            {{user.createdTime|date('Y-m-d H:i:s')}}/{{user.createdIp}}
                        </td>
                        <td>
                            {{user.loginTime|date('Y-m-d H:i:s')}}/{{user.loginIp}}
                        </td>
                        <td>{{user.groups|join(",")}}</td>
                        <td>{{user.enable}}</td>
                        <td>
                            <a href="{{ path('glory_user_manage_edit', {'id': user.id}) }}">编辑</a>
                            <a href="{{ path('glory_user_manage_delete', {'id': user.id}) }}">删除</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="box-footer clearfix">
            <a href="{{path('glory_user_manage_create')}}" class="btn btn-primary">创建用户</a>
            <div class="no-margin pull-right">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
